@CHARSET "EUC-KR";
@import url('css/style2.css');

html{overflow:scroll; overflow-x:auto}
body{margin:0px; padding:0px; font-size:11px;line-height:140%; background-color:#2d2d2d; color:#888888}
img{border:none; vertical-align:top}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-weight:normal}
p{margin:0; padding:0;}
ol, ul, dl, li, dt, dd{display:block; margin:0; padding:0; list-style:none}

textarea{margin:0; padding:0; border:none; resize:none}
input{margin:0;padding:0;border:none;font-weight:normal}
input:focus, textarea:focus{outline-style:none;}

a{text-decoration:none; outline:none; select-dummy:expression(this.hideFocus=true); color:#fff;}
a:hover{text-decoration:underline}
address, em{font-style:normal}
strong{font-weight:normal;}

table{border-collapse:collapse; border-spacing:0}
th{font-weight:normal; text-align:left}

.screen_out{position:absolute:top:-9999px; width:0; height:0; font-size:0; line-height:0}
